<div class="container">

	<h2>Welcome to c-space-solutions.com</h2>
	
	<div class="textContent">
		I'm building myself a home / work from home complex using one trip, side opening 20 ft shipping containers.
	<br>
		The main difference between my home and other container homes is that since I've not  altered the structure of the containers they are still able to be shipped on container ships worldwide or road freighted.
	<br>
		Below is a youtube video showing my home at a stage in it's construction.

	<div class="mediaPlayer">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/sPgjndFqqwY" frameborder="0" allowfullscreen></iframe>
	</div>

		I have a photographic and written record of the development of my complex and the stage I'm at with my build currently.
		<br> I'm happy to share it with anyone interested and give specific advice.
		<br>
		Contact me on - enquiries@c-space solutions.com
	</div>
</div>
